<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAe-iaMtZXqBBFEF7YfbLpXpf3Zv_DENL8</string>
	<key>GCM_SENDER_ID</key>
	<string>789399716534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-d9e62</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-d9e62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789399716534:ios:07cc6ac96e5a7683959c17</string>
</dict>
</plist>